#!/usr/bin/make -f
DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes
DEB_PYTHON_INSTALL_ARGS_ALL = --install-base debian/nwu-agent/
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
